<li id="bookmark_<%= bookmark.id %>">
  <%= link_to(
    image_tag("/screenshot/#{bookmark.image}.png"),
    bookmark.url,
    target: '_blank')
  %>
  <div>
    <%= content_tag(:span, bookmark.title) %>

    <% if current_user.id == bookmark.user_id %>
      <%= link_to '×', bookmark_path(bookmark), method: :delete, remote: true %>
    <% end %>
  </div>
</li>
