<%= form_tag bookmarks_path, method: 'get' do %>
  <p>
    <%= text_field_tag :value_search, params[:value_search] %>
    <%= submit_tag "Search", name: nil %>
    <%= link_to 'clear', root_path  %>
  </p>
<% end %>

