<%= image_tag(current_user.image, height: '64', width: '64') %>
<strong><%= current_user.name %></strong>
<%= link_to 'Log out', logout_path, method: 'delete', id: 'logout' %>
<br>
<%= link_to 'Find friends', users_path  %>
<br>
<%= link_to '+ Add new bookmark', new_bookmark_path  %>

<% unless bookmarks.empty? %>
  <%= render 'search' %>

  <ul id='bookmarks'>
    <%= render bookmarks %>
  </ul>

  <%= will_paginate bookmarks, previous_label:"« Previous", next_label:"Next »" %>
<% end %>

