<div>
  <%= link_to 'Back', root_path  %>
  <br>
  <h2>New bookmark</h2>

  <%= form_for @bookmark, remote: true do |f| %>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url, autofocus: true, autocomplete: false %>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.submit 'Add bookmark' %>
    </p>

    <% unless flash[:error].nil? %>
      <% flash[:error].each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  <% end %>

</div>
