<%= link_to 'Home', root_path  %>
<br>

<% if @user.nil? %>
  <p>User not found</p>
<% else %>
  <strong><%= @user.name %></strong>

  <ul id='bookmarks'>
    <%= render user_bookmarks %>
  </ul>

  <%= will_paginate user_bookmarks, previous_label:"« Previous", next_label:"Next »" %>
<% end %>
