#bookmarks {

  li {
    margin: 0 10px;
    display: inline-block;
    list-style: none;

    a {
      display: inline-flex;

      img {
        width: 150px;
        height: 100px;
        border: 1px solid #ccc;
      }
    }

    & > div {
      display: flex;
      justify-content: space-between;

      span {
        display: block;
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
